* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
  color: #333333;
}

footer{
  background-color:#202c39;
  color: white;
}

.footer-links>div{
  color: rgb(179, 159, 159);
  transition: 0.3s ease-in-out;
}

.footer-links>div:hover{
  color: white;
}

.footer-icon{
  color: rgb(179, 159, 159);
  transition: 0.6s;
}

.footer-icon:hover{
  transform: translate(0, -13px);
  color: white;
}

@media(max-width:575px){
  .footer-links{
    display: none;
  }
  .footer-head{
    text-align: center;
  }
  .footer-icon-div{
    display: flex;    
    justify-content: space-evenly;    
  }
}


@media(min-width:576px) and (max-width:991px){
  .footer-links{
    display: flex;
    flex-wrap: wrap;
  }

  .footer-links>div{
    flex: 0 0 50%;
    margin-top: 5px;
  }

  .footer-icon-div{
    display: flex;    
    justify-content: space-evenly;    
  }
}

@media(min-width:992px){
  .footer-links{
    display: flex;
    justify-content: space-between;
  }
  
  .footer-icon-div{
    display: flex;    
    justify-content: space-around;  
    
  }
}

@media(max-width:575px){
  footer img{
    display: none;
  }
}
/* Footer ends */