* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
  color: #333333;
}


.logo > img {  
  padding-left: 10px;
}

.brand {
  text-align: center;
}

.main-ii{
  color: #DBE9EE;
  background-color: #003399;
}

.icon-links  i{    
  border-radius: 100%;  
  padding: 30px;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.insta {  
  color: #DBE9EE;
}

.insta:hover {
  background-color: #DBE9EE;
  color: #e4405f;
  box-shadow: 0px 1px 50px 5px #DBE9EE;
  transform: translate(0, -7px);
}

.linked {
  color: #DBE9EE;
}

.linked:hover {
  background-color: #DBE9EE;
  color: #0077b5;
  box-shadow: 0px 1px 50px 5px #DBE9EE;
  transform: translate(0, -7px);
}

.facebook {
  color: #DBE9EE;
}

.facebook:hover {
  background-color: #DBE9EE;
  color: #3b5999;
  box-shadow: 0px 1px 50px 5px #DBE9EE;
  transform: translate(0, -7px);
}

.youtube {
  color: #DBE9EE;
}

.youtube:hover {
  background-color: #DBE9EE;
  color: #cd201f;
  box-shadow: 0px 1px 50px 5px #DBE9EE;
  transform: translate(0, -7px);
}

/* New code */

@media(max-width:768px){
  #icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  #icons>div div{
    margin: 0 0px;
  }
  #main-header{
    font-size: 2rem;
  }
}

@media (max-width:576px){
  #main-header~div{
    font-size: 1rem;
  }
  html, body{
    overflow-x: hidden;
  }
}

/* New code */

/* Top nav end*/

/* Navbar start */

.nav-container {
  z-index: 20;
}

.navbar-start{
  color: #DBE9EE;
  background-color: #011b70;
}

/* Navbar end */