* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
  color: #333333;
}


.logo > img {  
  padding-left: 10px;
}

.brand {
  text-align: center;
}

.main-ii{
  color: #DBE9EE;
  background-color: #003399;
}

.icon-links  i{    
  border-radius: 100%;  
  padding: 30px;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.insta {  
  color: #DBE9EE;
}

.insta:hover {
  background-color: #DBE9EE;
  color: #e4405f;
  box-shadow: 0px 1px 50px 5px #DBE9EE;
  transform: translate(0, -7px);
}

.linked {
  color: #DBE9EE;
}

.linked:hover {
  background-color: #DBE9EE;
  color: #0077b5;
  box-shadow: 0px 1px 50px 5px #DBE9EE;
  transform: translate(0, -7px);
}

.facebook {
  color: #DBE9EE;
}

.facebook:hover {
  background-color: #DBE9EE;
  color: #3b5999;
  box-shadow: 0px 1px 50px 5px #DBE9EE;
  transform: translate(0, -7px);
}

.youtube {
  color: #DBE9EE;
}

.youtube:hover {
  background-color: #DBE9EE;
  color: #cd201f;
  box-shadow: 0px 1px 50px 5px #DBE9EE;
  transform: translate(0, -7px);
}

/* New code */

@media(max-width:768px){
  #icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  #icons>div div{
    margin: 0 0px;
  }
  #main-header{
    font-size: 2rem;
  }
}

@media (max-width:576px){
  #main-header~div{
    font-size: 1rem;
  }
  html, body{
    overflow-x: hidden;
  }
}

/* New code */

/* Top nav end*/

/* Navbar start */

.nav-container {
  z-index: 20;
}

.navbar-start{
  color: #DBE9EE;
  background-color: #011b70;
}

/* Navbar end */

/* Carousel */

.carousel {
  height: 600px;
  width: 100%;
}

.carousel-item > img {
  width: 100%;
  height: 600px;
}

/* Carousel end */

/* Grow Animation start */

.grow-animation {
  margin-top: 120px;
}

/* Grow animation end */

/* About us start */

.about_us {
  margin-top: 120px;
}

.insta-counter {
  color: #e4405f;
}

.linked-counter {
  color: #0077b5;
}

/* .about_us_def{
  /* padding: 0 130px; */
/* }  */

/* About us end */

/* Mission starts */

.mission {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mission_icon > i {
  padding: 15px;
  border-radius: 100%;
  box-shadow: 0px 4px 10px -4px;
  transition: 0.5s;
}

.mission_line {
  transition: 0.5s;
}

.mission_flex:hover .mission_icon > i {
  box-shadow: 0px 10px 10px -2px;
  transform: translate(0, -7px);
}

.mission_flex:hover .mission_line_1 {
  color: #0dcaf0;
}

.mission_flex:hover .mission_line_2 {
  color: #ffc107;
}

.mission_flex:hover .mission_line_3 {
  color: rgb(220, 53, 69);
}

.mission_stat {
  color: #888;
}

/* Mission ends */

/* Sponsor starts */

.sponsor-header{
  position: relative;
}

.sponsor-header::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.sponsor-header:hover::before{  
  visibility: visible;
  transform: scaleX(1);  
}

.card-image-div{
  height: 300px;
}

/* Sponsor ends */


/* Footer starts */

  footer{
    background-color:#202c39;
    color: white;
  }

  footer ul{
    list-style-type: none;
    color: #b6aaa5;
    padding-top: 20px;
  }

  .footer-icon{
    border-radius: 50%;
    transition: 0.5s;
    padding: 10px;
  }

  .footer-icon:hover{
    transform: translate(0,-10px);
  }

  footer ul>li{
    transition: 0.3s;
  }

  footer ul>li:hover{    
    color:#F6F4F4;
  }

  .footer-links{
    text-align: center;
  }

  @media(max-width:575px){
    footer img{
      display: none;
    }
  }
/* Footer ends */