* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
  color: #333333;
}

/* Header sidelines */

/* .sideline{  
  overflow: hidden;
  text-align: center;   
} */

/* .sideline:before, .sideline:after{
  background-color: #333;
 content: "";
 display: inline-block;
 height: 3px;
 position: relative;
 vertical-align: middle;
 width: 100px;
} */

/* .sideline:before {
  right: 0.2em;
  margin-left: -80%;
 }
 .sideline:after {
  left: 0.2em;
  margin-right: -80%;
 } */

/* Header sidelines end */

.logo > img {
  height: 175px;
  width: 200px;
  padding-left: 20px;
  /* background-color: aqua; */
}

.brand {
  text-align: center;
}

.main-ii{
  color: #DBE9EE;
  background-color: #011b70;
}

.icon-links > i {
  margin: 0 7px;
  border-radius: 100%;
  padding: 10px;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.insta {
  /* color: #e4405f;
  color: #F9A620; */
  color: #DBE9EE;
}

.insta:hover {
  background-color: #DBE9EE;
  color: #e4405f;
  box-shadow: 0px 1px 60px 5px;
  transform: translate(0, -7px);
}

.linked {
  color: #DBE9EE;
}

.linked:hover {
  background-color: #DBE9EE;
  color: #0077b5;
  box-shadow: 0px 1px 60px 5px;
  transform: translate(0, -7px);
}

.facebook {
  color: #DBE9EE;
}

.facebook:hover {
  background-color: #DBE9EE;
  color: #3b5999;
  box-shadow: 0px 1px 60px 5px;
  transform: translate(0, -7px);
}

.youtube {
  color: #DBE9EE;
}

.youtube:hover {
  background-color: #DBE9EE;
  color: #cd201f;
  box-shadow: 0px 1px 60px 5px;
  transform: translate(0, -7px);
}

@media (min-width: 768px) {
  .icon-links-margin {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .icon-links-parent {
    margin: 0 250px;
    margin-top: 30px;
  }
}

@media (max-width: 658px) {
  .icon-links-parent {
    margin: 0 200px;
    margin-top: 30px;
  }
}

@media (max-width: 525px) {
  .icon-links-parent {
    margin: 0 150px;
    margin-top: 30px;
  }
}

@media (max-width: 405px) {
  .icon-links-parent {
    margin: 0 100px;
    margin-top: 30px;
  }
}

@media (max-width: 385px) {
  .icon-links-parent {
    margin: 0 70px;
    margin-top: 30px;
  }
  .logo > img {
    height: 125px;
    width: 140px;
  }
}
/* Top nav end*/

.nav-container {
  z-index: 20;
}

/* Carousel */

.carousel {
  height: 600px;
  width: 100%;
}

.carousel-item > img {
  width: 100%;
  height: 600px;
}

/* Carousel end */

/* Grow Animation start */

.grow-animation {
  margin-top: 120px;
}

/* Grow animation end */

/* About us start */

.about_us {
  margin-top: 120px;
}

.insta-counter {
  color: #e4405f;
}

.linked-counter {
  color: #0077b5;
}

/* .about_us_def{
  /* padding: 0 130px; */
/* }  */

/* About us end */

/* Mission starts */

.mission {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mission_icon > i {
  padding: 15px;
  border-radius: 100%;
  box-shadow: 0px 4px 10px -4px;
  transition: 0.5s;
}

.mission_line {
  transition: 0.5s;
}

.mission_flex:hover .mission_icon > i {
  box-shadow: 0px 10px 10px -2px;
  transform: translate(0, -7px);
}

.mission_flex:hover .mission_line_1 {
  color: #0dcaf0;
}

.mission_flex:hover .mission_line_2 {
  color: #ffc107;
}

.mission_flex:hover .mission_line_3 {
  color: rgb(220, 53, 69);
}

.mission_stat {
  color: #888;
}

/* Mission ends */

/* Sponsor starts */

.sponsor-header{
  position: relative;
}

.sponsor-header::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.sponsor-header:hover::before{  
  visibility: visible;
  transform: scaleX(1);  
}

.card-image-div{
  height: 300px;
}

/* Sponsor ends */


/* Footer starts */

  footer{
    background-color:#202c39;
    color: white;
  }

  footer ul{
    list-style-type: none;
    color: #b6aaa5;
    padding-top: 20px;
  }

  .footer-icon{
    border-radius: 50%;
    transition: 0.5s;
    padding: 10px;
  }

  .footer-icon:hover{
    transform: translate(0,-10px);
  }

  footer ul>li{
    transition: 0.3s;
  }

  footer ul>li:hover{    
    color:#F6F4F4;
  }

  .footer-links{
    text-align: center;
  }

  @media(max-width:575px){
    footer img{
      display: none;
    }
  }
/* Footer ends */