* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-size: 6em;

  margin-top: 170px;
}

.icon{
  font-size: 2em;
}


.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

